.profile__info {
  display: grid;
  margin-right: auto;
  margin-left: 30px;
  row-gap: 7px;
  align-content: center;
  grid-template-areas:
    "title edit"
    "subtitle .";
}

@media screen and (max-width: 768px) {
  .profile__info {
    margin: 26px auto 34px;
    padding-left: 40px;
  }
}
