.page__content {
  min-width: 320px;
  max-width: 918px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 45px 19px 0;
  min-height: 100vh;
}

@media screen and (max-width: 768px) {
  .page__content {
    padding: 28px 19px 0;
  }
}
