.profile__avatar-container {
  margin: 0;
  position: relative;
}

.profile__avatar-container::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background: black;
  transition: opacity 0.3s;
  opacity: 0;
}

.profile__avatar-container:hover::before {
  opacity: 0.3;
}

