.profile__add-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../../../images/profile__add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  min-width: 150px;
  height: 50px;
  cursor: pointer;
  padding: 0;
  transition: opacity 0.3s;
}

.profile__add-button:hover {
  opacity: 0.6;
}


@media screen and (max-width: 768px) {
  .profile__add-button {
    width: 100%;
  }
}
